# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter and data
.ipynb_checkpoints/
*.csv
*.parquet
*.feather

# Streamlit
.streamlit/
# Ignore everything outside the current project directory
/*
!/app.py
!/README.md
!/.gitignore
!/requirements.txt
!/.devcontainer/
!/data/
!/pages/
!/notebooks/
